/.vscode
backend/blueprints/__pycache__/evento_blueprint.cpython-310.pyc
backend/blueprints/__pycache__/ponente_blueprint.cpython-310.pyc
backend/infrastructure/__pycache__/connection_pool.cpython-310.pyc
backend/infrastructure/__pycache__/evento_repository.cpython-310.pyc
backend/models/__pycache__/evento.cpython-310.pyc
backend/models/__pycache__/ponente.cpython-310.pyc
backend/models/__pycache__/usuario.cpython-310.pyc
.scannerwork